<h3>Edit a Vital:</h3>

<form action="/vital/<%=@vital.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch" />

    <label for="blood_pressure">Blood Pressure</label><br>
    <input type="text" name="blood_pressure" value=<%=@vital.blood_pressure%>><br>
    <label for="pulse">Pulse</label><br>
    <input type="integer" name="pulse" value=<%=@vital.pulse%>><br>
    <label for="temperature">Temperature</label><br>
    <input type="float" name="temperature" value=<%=@vital.temperature%>> <br>
    <label for="oxygen_level">Oxygen Level</label><br>
    <input type="integer" name="oxygen_level" value=<%=@vital.oxygen_level%>><br>
    

    <input type="submit" value="Edit vital">
</form>

<a class="button" href="/vitals">vitals</a>
<a class="button" href="/">Home</a>