<h3>All Vitals</h3>
<table>
  <th>Name</th>
  <th>Created At</th>
  <th>Blood pressure</th>
  <th>Pulse</th>
  <th>Temperature</th>
  <th>Oxygen Level</th>
  <tr>
    <% @vitals.each do |vital| %>
      <td align="center">
        <%vital.patients.each do |patient|%>
          <li><a href="patients/<%= patient.id %>"><%= patient.name%></a></li>
        <%end%>

      <td align="center"><a href="/vitals/<%= vital.id %>"><%= vital.formatted_created_at %></a></td>

      <td align="center"><%= vital.blood_pressure %></a></td>

      <td align="center"><%= vital.pulse %></td>

      <td align="center"><%= vital.temperature%></td>

      <td align="center"><%= vital.oxygen_level%></td>
  </tr>
  <% end %>
</table>
<br>

<a class="button" href="/vitals">Vitals</a>
<a class="button" href="/">Home</a>
