<h3>All Vitals</h3>
<table>
  <th>Name</th>
  <th>ID</th>
  <th>Blood pressure</th>
  <th>Pulse</th>
  <th>Temperature</th>
  <th>Oxygen Level</th>
  <tr>
    <% @vitals.each do |vital| %>
      <td align="center"><a href="/vitals/<%= vital.patient %>"><%= vital.patient.name %></a></td>

      <td align="center"><a href="/vitals/<%= vital.id %>"><%= vital.id %></a></td>

      <td align="center"><%= vital.blood_pressure %></a></td>

      <td align="center"><%= vital.pulse %></td>

      <td align="center"><%= vital.temperature%></td>

      <td align="center"><%= vital.oxygen_level%></td>
  </tr>
  <% end %>
</table>
<br>

<a class="button" href="/vitals">Vitals</a>
<a class="button" href="/">Home</a>
