<h3>Patient: <%@vital.patients.each do |patient|%><%= patient.name%>
    <%end%> 
</h3>

<table>
  <tr>
    <th>Blood pressure</th>
    <th>Pulse</th>
    <th>Temperature</th>
    <th>Oxygen Level</th>
  </tr>
  <tr>
    <td><%= @vital.blood_pressure %></td>
    <td><%= @vital.pulse %></td>
    <td><%= @vital.temperature %></td>
    <td><%= @vital.oxygen_level%></td>
  </tr>
<table>
<br>

<% if @vital.patients != [] %>
  <a href="/vitals/<%= @vital.id %>/edit">Edit vital</a>
  <br><br>

  <form method="post" action="/vitals/<%=@vital.id%>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete vital">
  </form>

<% end %>
<br>

<a class="button" href="/vitals">All Vitals</a>
<a class="button" href="/">Home</a>

