<h3>Name <%= @vital.patient.name %> </h3>

<table>
  <tr>
    <th>Blood pressure</th>
    <th>Pulse</th>
    <th>Temperature</th>
    <th>Oxygen Level</th>
  </tr>
  <tr>
    <td><%= @vital.blood_pressure %></td>
    <td><%= @vital.pulse %></td>
    <td><%= @vital.temperature %></td>
    <td><%= @vital.oxygen_level%></td>
  </tr>
<table>

<% if !@vital.patient.empty? %>
  <a href="/vitals/<%= @vital.id %>/edit">Edit vital</a>
  <br><br>

  <form method="post" action="/vitals/<%=@vital.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete vital">
  </form>
<% end %>
<a class="button" href="/vitals">Vitals</a>

