<h3>Name <%= @patient.name %> </h3>

<table>
  <tr>
    <th>Name</th>
    <th>Medical Record Number</th>
    <th>Date of Birth</th>
  </tr>
  <tr>
    <td><%= @patient.name %></td>
    <td><%= @patient.medical_record_number %></td>
    <td><%= @patient.date_of_birth %></td>
  </tr>
<table>

<% if authorized_to_edit?(@patient) %>
  <a href="/journal_entries/<%= @patient.id %>/edit">Edit Patient</a>
  <br><br>
  <form method="post" action="/patients/<%=@patient.id%>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Patient">
  </form>

<% end %>



<a class="button" href="/patients">Patients</a>

